* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

#app {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  padding: 10px;
}

.title {
  text-align: center;
  padding-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  margin-top: 15px;
}

thead {
  background-color: #e9ecef;
  font-weight: 600;
  font-size: 18px;
  color: #1b1a36;
}

tbody {
  vertical-align: top;
  text-align: center;
}

table,
td,
th {
  border: 1px solid rgba(143, 143, 143, 0.205);
  border-collapse: collapse;
}

th,
td {
  padding: 20px;
}

.td_text {
  vertical-align: middle;
  text-align: center;
  width: 60%;
}

.tbody_tr {
  background-color: rgb(68, 68, 68);
  color: white;
}

.tbody_tr:nth-child(2n) {
  background-color: #4b4b4b;
}

.tbody_tr:hover {
  background-color: rgba(53, 53, 53, 0.95);
}

.td_btn {
  width: 150px;
  background-color: rgb(179, 201, 233);
  padding: 10px 5px;
  border: none;
  cursor: pointer;
}

.td_btn:hover {
  background-color: black;
  color: white;
}

input {
  padding: 5px;
}
